/* Empty. Add your own CSS if you like */
.title {
    font-family: 'Rambla', sans-serif;
}

.subtitle {
    text-align:center; 
    color: white;
    text-shadow: 1px 1px rgba(0,0,0,0.75);
    padding:20px; 
    padding-top:70px; 
    font-family: 'Open Sans', sans-serif;
}

.bar, .bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}

.pane {
    background:url('../img/bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    width: 100%;
}

.fixed-header {
    top: 40px;
    position: fixed !important;
    width: 100% !important;
    background-color: rgba(255, 255, 255, 0.3)
}

.bar-color {
    background-color: rgba(0, 0, 0, 0.1);
}

.item-input {
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 4px 38px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 38px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 38px -10px rgba(0,0,0,0.75);
}

.input-label, .item-input {    
    background: none;
    border: none;
    color: black;
}

.button-color {
    background-color: rgba(255, 255, 102, 0.7);
    -webkit-box-shadow: 0px 10px 26px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 26px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 35px -6px rgba(0,0,0,0.75);
}
.button-color:hover {
    background-color: rgba(255, 255, 103, 0.75);
    -webkit-box-shadow: 0px 10px 35px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 35px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 35px -6px rgba(0,0,0,0.75);
}
.button-color:active {
    -webkit-box-shadow: 0px 10px 35px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 35px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 35px -6px rgba(0,0,0,0.75);
}

.has-header {
    padding-top: 110px;
}

.has-header1 {
    padding-top: 5px;
}

.button-send {
    background-color: rgba(74, 226, 82, 0.5);    
}
.button-send:hover {
    background-color: rgba(74, 226, 82, 0.6);    
}
.button-send:active {
    background-color: rgba(74, 226, 82, 0.8);    
}



.timeline {
    font-style: italic;
    font-size: 13px
}

.message {
    font-size:15px
}

