/* Empty. Add your own CSS if you like */

/* Common elements */
.title {
    font-family: 'Rambla', sans-serif;
}

.subtitle, .subnametitle {
    text-align:center; 
    color: white;
    text-shadow: 1px 1px rgba(0,0,0,0.75);
    font-family: 'Open Sans', sans-serif;
}

.subtitle {    
    padding-top:60px; 
}

.bar, .bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}
.bar-color {
    background-color: rgba(0, 0, 0, 0.15);
}

.pane {
    background:url('../img/bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    width: 100%;
}
/*******************************************/

/* First screen */
.item-input {
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 4px 38px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 38px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 38px -10px rgba(0,0,0,0.75);
}

.input-label, .item-input {    
    background: none;
    border: none;
    color: black;
}

.button-color {
    background-color: rgba(255, 255, 102, 0.7);
    -webkit-box-shadow: 0px 10px 26px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 26px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 35px -6px rgba(0,0,0,0.75);
}
.button-color:hover {
    background-color: rgba(255, 255, 103, 0.75);
    -webkit-box-shadow: 0px 10px 35px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 35px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 35px -6px rgba(0,0,0,0.75);
}
.button-color:active {
    -webkit-box-shadow: 0px 10px 35px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 35px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 35px -6px rgba(0,0,0,0.75);
}

.has-header {
    padding-top: 110px;
}
/*******************************************/

/* Second page  */
.has-header1 {
    padding-top: 50px;
}

i.icon-big.ion-gear-a  { font-size: 26px }
i.icon-big.ion-log-out { font-size: 23px }
i.icon-big.icon-bug    { font-size: 22px }

.userInfo {
    color: white;
    text-shadow: 1px 1px rgba(0,0,0,0.65);
    margin-top: 20px;
}

.avatar {
    width: 30%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    -webkit-box-shadow: 0px 4px 38px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 38px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 38px -10px rgba(0,0,0,0.75);
} 

#countup p {
    display: inline-block;
    padding: 1px;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}

.ion-toggle {
    background: none !important;
}

/* Extra */
.button-send {
    background-color: rgba(74, 226, 82, 0.5);    
}
.button-send:hover {
    background-color: rgba(74, 226, 82, 0.6);    
}
.button-send:active {
    background-color: rgba(74, 226, 82, 0.8);    
}

.timeline {
    font-style: italic;
    font-size: 13px
}

.message {
    font-size:15px
}

